* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:'Raleway', sans-serif;
    font-size: 20px;
    color: #3C3B3A;
}
/* ----MOBILE DEVICE VIEWPORT---- */
/* Setting for logo & navigation bar */
.topnav{
    background-color: #3C3B3A;
    text-align: center;
    padding: 11px 0 11px 0;
}

#logo{
    width: 88px;
    margin: 0;
}
.mainmenu nav ul li{
    display: block;
}
.mainmenu nav ul li a{
    display: block;
    text-align: center;
    list-style-type: none;
    text-decoration: none;
    font-size: 18px;
    color: white;
    padding: 11px 0 11px 0;
}

/* active link's style */
nav ul li a.active{
    font-weight: bolder;
}
/* HOMEPAGE  */
/* paragraph 1's style */
.p1{
    padding: 36px;
}
.p1 h1{
    font-size: 40px;
}
.p1 p{
    line-height: 35px;
    padding: 19px 0 0 0;
}
/* grid for icons */
.p1img{
    text-align: center;
    padding: 0 36px;
    display: grid;
    grid-template-columns: 40% 20% 40%;
}

.p1img .climbingicon, .p1img .indooricon{
    grid-column: 3;
}

.p1img .bowlingicon, .p1img .climbingicon{
    padding: 0 0 20px 0;
}

.p1img p{
    font-size: 17px;
    color: #26A682;
}
/* setting for Get Started button */
.button1{
    padding: 30px 36px 36px 36px;
    text-align: center;
}
.button1 p{
    display: block;
    border-radius: 40px;
    padding: 8px;
    background-color: #26A682;
    font-weight: bold;
    font-size: 32px;
    color: white;
    box-shadow: 2px 10px rgba(18, 74, 58, 0.25);
}

/* hide the scroll button in mobile view */
.scrollbutton{
    display: none;
}

/* setting for Discover Algonquin College & The Entertainment paragraphs & images  */

.discover img {
    width: 100%;
    display: block; 
    margin: auto;
    padding: 0 36px 0 36px;   
}

.school img, .entertainment img, .construction img, .aboutimg img, .serviceimg img{
    width: 100%;
    display: block;
}
.p2, .p3{
    padding: 0 36px 0 36px;
}
.p2 h1, .p3 h1{
    font-style: italic;
    font-size: 32px;
    font-weight: bold;
    margin-top: 30px;
}

.p2 h3, .p3 h3{
    color: #26A682;
    font-weight: lighter;
    font-size: 24px;
    padding: 10px 0 10px 0;
}

.p2 p, .p3 p{
    line-height: 35px;
    padding: 0 0 20px 0;
}

.button2{
    text-align: center;
}

.button2 p{
    display: block;
    padding: 5px 20px;
    border-radius: 40px;
    background-color: #26A682;
    font-weight: bold;
    font-size: 20px;
    color: white;
    box-shadow: 2px 10px rgba(18, 74, 58, 0.25);
    margin-left: 50%;
    margin-bottom: 30px;
}

/* setting for SA President paragraph */
.president{
    background-color: #3C3B3A;
}
.president h2{
    text-align: center;
    padding: 10px 0 5px 0;
    color: white;
    font-size: 24px;
    font-weight: bolder;
}
.simon{
    display: block;
    margin: auto;
    text-align: center;
}
.simon img{
    height: 267px;
    width: auto;
    border-radius: 50%;
    border: solid 5px #F2F2F2;
    margin-top: 30px;
    margin-bottom: 15px;
}

.president p{
    padding: 20px 37px 25px 37px;
    color: white;
    line-height: 35px;

}

/* ABOUT PAGE  */
/* setting for paragraphs & images */
.p4, .p5, .break, .competitive, .newyearnewme, .indoorclimbing{
    padding: 20px 36px 20px 36px;
}
/* hiding image in mobile viewport */
.bowling img, .bar img, .fitness img, .climbing img{
    display: none;
}

.p4 h1{
    font-size: 40px;
    color: #3C3B3A;
}
.p4 p, .p5 p, .p6 p{
    line-height: 35px;
    padding: 20px 0 10px 0;
}

.p4 .construction{
    padding: 20px 0 0 0;
}

.p5{
    background-color: #F2F2F2;
}
.p5 h2{
    font-size: 32px;
    color: #3C3B3A;
    font-style: italic;
    font-weight: bold;
    padding: 0;
    margin-right: 100%;
}

.service, .about{
    position: relative;
    text-align: center;
    color: white;
}
.servicetext, .abouttext{
    position: absolute;
    color: white;
    top: 50%;
    left: 50%;
    font-size: 50px;   
    transform: translate(-50%, -50%); 
    font-weight: bold;
}

.break h1, .competitive h1, .newyearnewme h1, .indoorclimbing h1{
    font-size: 32px;
    font-weight: bold;
    color: #3C3B3A;
}

.break h3, .competitive h3, .newyearnewme h3, .indoorclimbing h3{
    color: #26A682;
    font-weight: lighter;
    font-size: 24px;
    padding: 10px 0 0 0;
}

.break p, .competitive p, .newyearnewme p, .indoorclimbing p {
    line-height: 35px;
}

/* setting different background color for sections */
.competitive, .indoor climbing{
    background-color: #F2F2F2;
}

.subscribe{
    background-color: #3C3B3A;
    padding: 24px 36px;
    text-align: center;
}

.subscribe p{
    color: white;
    font-size: 18px;
}
/* Subscribe Button */
.button3 {
    padding: 20px 70px 0px 70px;
    text-align: center;
}
.button3 {
    display: block;
    border-radius: 40px;
    padding: 10px;
    background-color: #26A682;
    font-weight: bold;
    font-size: 20px;
    color: white;
    margin-top: 20px;
}
/* Special paragraph & imgages of logos */
.special{
    padding: 30px 36px 30px 36px;
    text-align: center;
}

.special h1{
    font-size: 56px;
    font-weight: bolder;
}

.special img{
    padding: 44px 0 0 0;
}


/* CONTACT PAGE  */
.p7{ 
    padding: 36px 36px 10px 36px;
}
.p7 h1{
    font-size: 50px;
    font-weight: bold;
}
.p7 p{
    line-height: 35px;
    padding: 20px 0 10px 0;
}

.p7 img{
    display: block;
    width: 100%;
}
 /* Contact form setting */
.contactform{
    display: block;
    padding: 36px;
 }
 form{
     background-color: #26A682;
     border-radius: 25px;
     padding: 15px;
 }
form p{
    color: white;
    font-size: 40px;
    font-weight: bold;
}
fieldset{
    border: 0; 
    margin: 0 auto;
    padding: 10px 0 10px 0;
}

fieldset label{
    color: white;
    padding: 0 0 10px 0;
    font-size: 18px;
}
fliedset input{
    padding: 10px;
}

.fullname, .student, .email, .message{
    display: block;
    font-size: 16px;
    border: 0;
    background-color: #f4f4f5;
    border-radius: 72px;
    width:100%;
    padding: 12px;
}

fieldset textarea{
    width: 100%;
    height: 100px;
    font-size: 16px;
    border: 0;
    border-radius: 15px;
    padding: 10px;
}

form button{
    display: block;
    width: 100%;
    padding: 8px;
    border:0;    
    border-radius: 40px;
    background-color:#3C3B3A;
    font-weight: bold;
    font-size: 32px;
    color: white;
    box-shadow: 2px 7px rgba(18, 74, 58, 0.25);
    margin-top: 10px;
    margin-bottom: 25px;
}

.p8{
    padding: 15px 36px 15px 36px;   
}

.p8 h1{
    font-size: 40px;
    font-weight: bold;
}

.p8 h3{
    font-size: 24px;
    color: #3C3B3A;
    font-weight: lighter;
    padding: 15px 0 15px 0;
}

.p8 p{
    font-size: 16px;
    padding: 0 0 20px 0;
}
/* setting for map */
.map iframe{
    width: 100%;
    height: 250px;
}


/* footer's setting */
.footer{
    background-color: #3C3B3A;
    padding: 30px 0 30px 0;
    display: grid;
    grid-template-columns: 30% 40% 40%;
    grid-template-rows: repeat(2, 1fr);
}

.footer .follow{
    grid-column: 2;
    text-align: center;
    margin: auto;
}

.footer .icon{
    grid-column: 2;
    grid-row: 2;
    margin: auto;
    margin-top: 5px;
}
.footer .topbutton{
    grid-row: span 2;
    margin: auto;
    text-align: center;
}
#facebook, #instagram, #twitter, #linkedin{
    padding: 0 3px 0 3px;
}

.follow{
    color: white;
    font-size: 24px;
}
.footer p{
    color: white;
    font-size: 9px;
}



/*TABLET VIEW from 600px to 960px*/


@media(min-width: 600px){
    .topnav{
        padding: 10px 80px 10px 80px;
        display: grid;
        grid-template-columns: 50% 50%;
    }

    .topnav .mainmenu nav ul li{
        display: inline-block;
        margin: 0;
        text-align: center;
    }

   
    .mainmenu nav ul li a{
        display:block;
        padding: 20px;
    }

    /* HOMEPAGE */
    .p1{
        padding: 80px;
    }
    .p1 h1{
        font-size: 72px;
    }
    .p1 p{
        line-height: 35px;
        padding: 19px 0 0 0;
        font-size: 24px;
    }
    /* grid for icons */
    .p1img{
        text-align: center;
        padding: 0 36px;
        display: grid;
        grid-template-columns: repeat(4,1fr);
    }
    .p1img .climbingicon{
        grid-column: 2;
    }
    .p1img .indooricon{
        grid-column: 4;
    }

    /* setting for Get Started button */
    .button1{
        padding: 30px 220px 0 220px;
        text-align: center;
    }
    .button1 p{
        font-size: 40px;
        display: block;
        border-radius: 40px;
        padding: 10px;;
        background-color: #26A682;
    }
    .discover {
        padding: 40px 209px 20px 209px;
    }
    /* display & rotate scroll button for tablet view */
    .scrollbutton{
        text-align: center;
        display: block;
        padding: 0 365px 20px 365px;
    }
    #scroll{
        transform: rotate(180deg)
    }

    .p2, .p3{
        padding: 0 80px 0 80px;
    }

    .p2 h1, .p3 h1{
        font-size: 40px;
    }

    .p2 h3, .p3 h3{
        font-size: 32px;
    }

    .p2 p, .p3 p{
        font-size: 24px;
    }

    .button2 p{
        font-size: 27px;
    }
    /* new grid for SA President paragraph */
    .president{
        padding: 40px 80px;
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
    .president p{
        padding: 0;
    }

    /* ABOUT PAGE */

    .p4, .p5{
        padding: 40px 80px 40px 80px;
    }

    .p4 h1{
        font-size: 72px;
    }

    .p4 p{
        font-size: 24px;
    }

    .p5 h2{
        font-size: 40px;
    }
    .break .bar img, .newyearnewme .fitness img, .competitive .bowling img, .indoorclimbing .climbing img{
        display: block;
        width: 100%;
    }

    .break, .newyearnewme{
        padding: 60px 80px 60px 80px;
        display: grid;
        grid-template-columns: 40% 2% 58%;

    }
    .break .bartext, .newyearnewme .fitnesstext{
        grid-column: 3;
    }
    .competitive, .indoorclimbing{
        padding: 60px 80px 60px 80px;
        display: grid;
        grid-template-columns: 58% 2% 40%;
    }

    .competitive .bowling, .indoorclimbing .climbing{
        grid-column: 3;
    }

    .subscribe{
        padding: 20px 80px 20px 80px;
        display: grid;
        grid-template-columns: 70% 30%;
    }

    .subscribe p{
        font-size: 24px;
        margin: auto;
        padding: 0;
    }
    /* Subscribe Button */

    .subscribe .button3{
        padding: 5px;
        border-radius: 40px;
        background-color: #26A682;
        font-weight: bold;
        font-size: 24px;
        color: white;
        text-align: center;
        width: 150px;
        margin: auto;
    }
    /* special thanks images - increased size */
    .special{
        padding: 50px 80px 50px 80px;
    }
    .special img{
        padding: 20px 100px 20px 100px;
    }

    /* CONTACT PAGE*/

    .p7{
        padding: 40px 80px 0 80px;
    }

    .p7 h1{
        font-size: 72px;
    }
    .p7 p{
        font-size: 24px;
    }

    .p7 img{
        padding: 10px 80px 10px 80px;
    }

    .contactform{
        padding: 0 80px 0 80px;
    }
    form{
        padding: 40px;
    }
    form p{
        font-size: 72px;
    }

    form button{
        font-size: 40px;
        width: 220px;
        padding: 15px;
        margin-left: 58%;
    }

    .p8{
        padding: 40px 80px 40px 80px;
    }
    .p8 h1{
        font-size: 72px;
    }
    .p8 h3{ 
        font-size: 40px;
    }

    .p8 p{
        font-size: 18px;
    }
    .map iframe{
        width: 100%;
        height: 500px;
    }

    /*DESKTOP VIEW from 960px to 1920px*/
    @media(min-width: 960px){

        /* ABOUT PAGE */
        .p4{
            display: grid;
            grid-template-columns: repeat(2,1fr);
            grid-template-rows: repeat(3,1fr);
        }

        .p4 .construction{
            grid-column: 2;
            grid-row: 1/ span 3;
        }


        .p5{
            padding: 200px 140px 200px 140px;
            display: grid;
            grid-template-columns: repeat(3,1fr);
        }

        .p5 p{
            font-size: 18px;
        }

        .servicetext, .abouttext{
            font-size: 72px;
        }

        .break, .newyearnewme, .competitive, .indoorclimbing{
            padding: 80px 140px 80px 140px;
        }

        .subscribe{
            padding: 50px 490px 50px 490px;
            grid-template-columns: 75% 25%;
        }
        .subscribe p{
            font-size: 40px;
        }
        .subscribe .button3{
            padding: 10px;
            width: 220px;
        }

        .bartext h1, .fitnesstext h1, .bowlingtext h1, .climbingtext h1{
            font-size: 40px;
        }
        .bartext h3, .fitnesstext h3, .bowlingtext h3, .climbingtext h3{
            font-size: 32px;
        }
        /* increase back to top button in footer */
        .footer .topbutton{
            transform: scale(2, 2);
        }
    }

    /* Hover style transform */
    .topbutton img:hover{
        transform: scale(1.2);
        border: dotted white 2px;
    }

    /* Scroll down animation */

    #scroll img{
        animation: movedownFromTheTop 3s 0.2s ease-in-out 8 backwards;
    }
    @keyframes movedownFromTheTop{
        0%{
            opacity: 0;
            transform: translateY(50px);
        }
        100%{
            opacity: 1;
            transform: translateY(0);
        }
    }
    